@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@font-face {
    font-family: "spumoni";
    src: url("../spumoni/Spumoni.otf") format("opentype")
    }

#html-main{
    height: 100%;
}
body, main{
    height: 100%;
}
body{
    background-color: #76211C;
    font-family: Arial, Helvetica, sans-serif;
    
    letter-spacing: 1px;
    user-select: none;
}
#body-container{
    height: 100%;
}
.font-spumoni{
    font-family: "spumoni";
}
.bordeaux{
    color: #76211C;
}
p{
    margin: 0;
}

/* 
    H1 -> titoli pagine 
    H3 -> titoli sezioni
*/
h1{
    color: rgb(255, 255, 255);
    font-size: 3em;
}
h3, .h3{
    text-align: center;
    padding: 1em 0;
    letter-spacing: 3px;
    font-size: 2.5em;
}
h3, h5{
    color: #76211C;
    font-weight: bolder;
}
.logo{
    font-size: 1.8em;
}

/* HEADER */
header{
    background-color: #76211C;
}
#header-home{
    background-color: #76201cb0;
}
nav{
    font-size: 1.2em;
}
nav .dropdown-item:hover{
    background-color: #ffc10736;
}
a:hover{
    color: #FFC107;
}
ul{
    list-style: none;
}
li{
    margin: 0 1em;
    
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    font-size: 1.3em;
}
/* MAIN */
#main-home{
    background-image: url("../imgs/sala1-1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100%;
    margin-bottom: 4em;
    background-color: e8e1cc;
}
.hero{
    background-color: rgba(0, 0, 0, 0.517);
}
.hero h1{
    font-size: 6em;
}


/* ABOUT */
section{
    background-color: #e8e1cc;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    color: #524947;
}
section b, section a{
    color: #342f2f;
}
section a:hover{
    color: #86423f;
}
.about table{
    width: 100%;
    text-align: center;
}
#storia strong{
    color: #76211C;
}


/* CUCINA */

.cucina li{
    background-color: #76201c13;
    padding: 1em;
}
.cucina span{
    font-size: 0.8em;
    font-style: italic;
}


/* FOOTER */
footer{
    background-color: #76211C;
    color: white;
}
footer .fa, footer .bi{
    font-size: 1.3em;
    margin: 0 0.3em;
}
.copyright{
    
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.661);
}


@media screen and (max-width: 450px){
    #main-home .hero h1{
        font-size: 2.5em;
    }
}
@media screen and (min-width: 451px) and (max-width: 600px){
    #main-home .hero h1{
        font-size: 4em;
    }
}